<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ab778a">  <td>21/12/19 18:01:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.launchBrowserAndUrl()[pri:0, instance:testCases.CreateAccounts@6fd83fc1]">&gt;&gt;launchBrowserAndUrl</td> 
<td>&nbsp;</td>  <td>main@1702143276</td>   <td></td> </tr>
<tr bgcolor="ab778a">  <td>21/12/19 18:02:36</td>   <td>39411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:testCases.CreateAccounts@6fd83fc1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1702143276</td>   <td></td> </tr>
<tr bgcolor="b3fda1">  <td>21/12/19 18:01:55</td>   <td>-1105</td> <td>&nbsp;</td><td title="&gt;&gt;CreateAccounts.setExcelSheet()[pri:0, instance:testCases.CreateAccounts@6fd83fc1]">&gt;&gt;setExcelSheet</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1702143276</td>   <td></td> </tr>
<tr bgcolor="b3fda1">  <td>21/12/19 18:02:07</td>   <td>10325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAccounts.createAccounts(java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:testCases.CreateAccounts@6fd83fc1]">createAccounts</td> 
  <td>main@1702143276</td>   <td></td> </tr>
</table>
